[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Projektorientiertes wissenschaftliches Rechnen mit Python
Type=Link
URL=http://www3.math.tu-berlin.de/Vorlesungen/SS10/PWRpy/
Icon=text-html
Name[de_DE]=Projektorientiertes wissenschaftliches Rechnen mit Python
